@model ToDoApp.Models.TodoListModel

@{
    Layout = "_Layout";
}

<div class="custom-container">
    <div id="calendar" class="calendar">
        <div class="calendar-header">
            <h3 class="">Calendar</h3>

            <ul id="calendar-period" class="calendar-period">
                <li class="calendar-period__item">Day</li>
                <li class="calendar-period__item">Week</li>
                <li class="calendar-period__item activ">Month</li>
                <li class="calendar-period__item">Year</li>
            </ul>
        </div>

        <div class="calendar-body">
            <div class="manager-widget">
                <button class="btn btn-danger">
                    <i class="fa-solid fa-plus"></i>
                    Create task
                </button>

                <div class="task-calendar">
                    <table id="task-calendar-widget">
                        <thead>
                            <tr class="hn">
                                <td><b>‹</b>
                                <td colspan="5">
                                <td><b>›</b>
                            <tr class="dn"><td>Mon<td>Tue<td>Wed<td>Thu<td>Fri<td>Sat<td>Sun
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

                <h4>Lists</h4>

                <div class="tasks-list">
                    @{
                        if (Model.Lists.Count() == 0)
                        {
                            <h5>You dont't have any lists</h5>
                            @*<div class="tasks-list__item">
                                <div class="icon">
                                    <img src="~/img/12.png" />
                                </div>
                                <div class="name">
                                    Home
                                </div>
                                <div class="settings">
                                    <i class="fa-solid fa-gear"></i>
                                </div>
                            </div>*@
                        }
                        else
                        {
                            foreach (var item in Model.Lists)
                            {
                                <div class="tasks-list__item">
                                    <div class="icon">
                                        <img src="data:image/jpg;base64, @item.Icon" />
                                    </div>
                                    <div class="name">
                                        @item.Name
                                    </div>
                                    <div class="settings">
                                        <i class="fa-solid fa-gear"></i>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>

                <button class="btn btn-light">
                    <i class="fa-solid fa-plus"></i>
                    Create list
                </button>
            </div>

            <table id="calendar-widget">
                <thead>
                    <tr class="hn">
                        <td><b>‹</b>
                        <td colspan="5">
                        <td><b>›</b>
                    <tr class="dn"><td>Mon<td>Tue<td>Wed<td>Thu<td>Fri<td>Sat<td>Sun
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <div id="dashboard" class="dashboard">
        <div class="dashboard-header">

        </div>
    </div>
</div>
