body {
    overflow: hidden;
}

.widget {
    position: fixed;
    background: white;
    width: 220px;
    height: 100%;
    box-shadow: 2px 2px 8px rgb(0 0 0 / 10%);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    z-index: 1;
    top: 0;
    left: 0;
    text-align: center;
}

    .widget .logo {
        justify-content: center;
        display: flex;
        flex-direction: row;
        margin: 20px;
    }

        .widget .logo img {
            width: 80px;
        }

        .widget .logo h3 {
            align-self: end;
        }

    .widget ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .widget li {
        display: flex;
        align-items: center;
        height: 50px;
        padding-left: 25px;
        cursor: pointer;
        margin: 5px 0 5px 0;
    }

        .widget li i {
            margin-right: 10px;
        }

        .widget li:hover {
            color: #ff8d8d;
        }

        .widget li.activ {
            background: linear-gradient(to right, #ff8d8d, white 13%);
            color: red;
        }

.content {
    margin-left: 220px;
    background: #f5f5f5;
    height: calc(100vh);
}

.custom-container {
    padding: 20px;
}

.calendar-header {
    display: flex;
    flex-direction: row;
}

.calendar-period {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

    .calendar-period .calendar-period__item {
        align-self: center;
        margin: 0 10px 0 10px;
        border-radius: 10px;
        background: mistyrose;
        padding: 8px 15px 8px 15px;
        cursor: pointer;
        font-weight: 500;
    }

    .calendar-period .activ {
        background: red;
        color: #fff;
    }

.calendar-body {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.manager-widget {
    width: 360px;
    background: #fff;
    margin: 0 20px 0 0;
    padding: 20px;
}

    .manager-widget button {
        width: 100%;
    }

.task-calendar {
    width: 100%;
    padding: 10px;
}

#task-calendar-widget {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    border-spacing: 0px;
}

    #task-calendar-widget tbody td {
        color: #2c567a;
        height: 35px;
        width: 35px;
        min-width: 35px;
        min-height: 35px;
        cursor: pointer;
    }

        #task-calendar-widget tbody td:hover {
            /*background: red;*/
            color: red;
            /*            border-radius: 50%;*/
        }

        #task-calendar-widget tbody td.activ {
            background: red;
            color: #fff;
            border-radius: 50%;
        }

.tasks-list {
    height: 396px;
    overflow: auto;
    margin-bottom: 10px;
    padding: 5px;
}

.tasks-list__item {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid silver;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 10px;
}

    .tasks-list__item .icon {
        background: #fff;
        align-self: center;
        height: 100%;
        display: flex;
        border-radius: 50%;
    }

        .tasks-list__item .icon img {
            border-radius: 50%;
        }

    .tasks-list__item .name {
        padding: 0 10px 0 10px;
        align-self: center;
    }

    .tasks-list__item .settings {
        background: #f8f9fa;
        align-self: center;
        height: 100%;
        width: 65px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        display: flex;
        margin-left: auto;
        box-shadow: -2px 2px 8px rgb(0 0 0 / 10%);
    }

        .tasks-list__item .settings i {
            cursor: pointer;
        }

        .tasks-list__item .settings:hover {
            background: #e2e6ea;
        }

        .tasks-list__item .icon i,
        .tasks-list__item .settings i {
            margin: auto;
        }

#calendar-widget {
    width: 100%;
    line-height: 1.2em;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    border-spacing: 0px;
}

    #calendar-widget tr.dn td {
        font-size: 15px;
    }

    #calendar-widget thead tr.hn {
        background: #fff;
        height: 40px;
    }

    #calendar-widget thead tr:last-child {
        font-size: small;
        color: #555555;
        height: 100px;
        text-align: center;
    }

    #calendar-widget thead tr:nth-child(1) td:nth-child(2) {
        color: #323232;
    }

    #calendar-widget thead tr:nth-child(1) td:nth-child(1):hover,
    #calendar-widget thead tr:nth-child(1) td:nth-child(3):hover,
    #task-calendar-widget thead tr:nth-child(1) td:nth-child(1):hover,
    #task-calendar-widget thead tr:nth-child(1) td:nth-child(3):hover {
        cursor: pointer;
    }

    #calendar-widget tbody {
        background: #fff;
        text-align: center;
        border-top: 1px solid #c0c0c0;
    }

        #calendar-widget tbody tr {
            border-bottom: 1px solid #c0c0c0;
        }

        #calendar-widget tbody td {
            color: #2c567a;
            min-height: 50px;
            height: 120px;
            width: 150px;
            text-align: -webkit-center;
        }

            #calendar-widget tbody td.today {
                color: #e78c5c;
                border-top: 3px solid #e78c5c;
            }

            #calendar-widget tbody td div {
                border-radius: 5px;
                margin: 3px;
                color: white;
                background: limegreen;
                font-size: 15px;
                width: 120px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                cursor: pointer;
            }

button.close {
    padding: 0.3rem 0.6rem !important;
    margin: -0.5rem -0.5rem -1rem auto !important;
    background: red !important;
    border-radius: 50%;
}

.text-field {
    display: flex;
    margin-bottom: 1rem;
    align-items: flex-end;
}

.field-icon {
    display: flex;
}

.text-field__input {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    background-color: #f8f9fa;
    background-clip: padding-box;
    border: 1px solid #a1a1a1;
    border-radius: 0.7rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

    .text-field__input::placeholder {
        color: #a1a1a1;
        opacity: 0.4;
    }

    .text-field__input:focus {
        color: black;
        background-color: #f8f9fa;
        border-color: #bdbdbd;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
    }

.input-icon {
    color: black;
    width: 65%;
    margin-right: 20px;
}

    .input-icon::file-selector-button {
        padding: .2em .4em;
        border-radius: 10px;
        background-color: red;
        transition: 1s;
        color: white;
        margin: 0px;
        border: red;
        margin-top: -6px;
        margin-left: -10px;
        margin-right: 20px;
        cursor: pointer;
        opacity: .5;
    }

        .input-icon::file-selector-button:hover {
            opacity: 1;
        }

.input-color {
    width: 28%;
}

.input-color__label {
    margin-left: 20px;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
}

.preview-icon-img {
    height: calc(2.25rem + 2px);
}

.text-field__textarea {
    display: block;
    width: 100%;
    height: 150px;
    resize: none;
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    background-color: #f8f9fa;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.7rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

    .text-field__textarea::placeholder {
        color: #a1a1a1;
        opacity: 0.4;
    }

    .text-field__textarea:focus {
        color: black;
        background-color: #f8f9fa;
        border-color: #bdbdbd;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
    }

.text-field__dropdawn,
.text-field__input-date {
    display: block;
    width: 45%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    background-color: #f8f9fa;
    background-clip: padding-box;
    border: 1px solid #a1a1a1;
    border-radius: 0.7rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.text-field__input-date {
    margin-left: auto;
}

.text-field__dropdawn::placeholder {
    color: #a1a1a1;
    opacity: 0.4;
}

.text-field__dropdawn:focus,
.text-field__input-date:focus {
    color: black;
    background-color: #f8f9fa;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}
